a#plugin__diagrams-new {
    display: flex;
    margin-bottom: 1rem;

    &:before {
        content: '';
        width: 1.5rem;
        background-image: url("/lib/plugins/diagrams/img/diagramsnet.svg");
        background-repeat: no-repeat;
    }
}

div.plugin_diagrams_inline svg {
    height: 100%;
    width: 100%;
}
