// link in media manager
a.plugin_diagrams_create {
  display: flex;
  margin-bottom: 1em;
  gap: 0.25em;

  &:before {
    content: '';
    width: 1.2em;
    height: 1.2em;
    background-image: url("img/diagramsnet.svg");
    background-repeat: no-repeat;
  }
}

// in-page edit button
button.diagrams-btn {
  display: block;
}

// style for the editor itself (on top of everything)
#plugin__diagrams-editor {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
